windows/src/test/resources/mule-config-windows.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--

    Mule QuickBooks Connector

    Copyright (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com

    The software in this package is published under the terms of the CPAL v1.0
    license, a copy of which has been included with this distribution in the
    LICENSE.txt file.

-->

<mule xmlns:context="http://www.springframework.org/schema/context" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:quickbooks-windows="http://www.mulesoft.org/schema/mule/quickbooks-windows" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core" version="EE-3.3.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/quickbooks-windows http://www.mulesoft.org/schema/mule/quickbooks-windows/3.0/mule-quickbooks-windows.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd ">
    
    <quickbooks-windows:config serviceProviderId="serviceProviderId" />

    <flow name="create">
		<quickbooks-windows:create realmId="#[map-payload:realmId]"
		                           appKey="#[map-payload:appKey]"
		                           realmIdPseudonym="#[map-payload:realmIdPseudonym]"
		                           authIdPseudonym="#[map-payload:authIdPseudonym]" 
		                           type="#[map-payload:type]"
		                           draft="#[map-payload:draft]"
		                           fullResponse="#[map-payload:fullResponse]" />
	</flow>
	<flow name="update">
		<quickbooks-windows:update realmId="#[map-payload:realmId]"
		                           appKey="#[map-payload:appKey]"
		                           realmIdPseudonym="#[map-payload:realmIdPseudonym]"
		                           authIdPseudonym="#[map-payload:authIdPseudonym]" 
		                           type="#[map-payload:type]"
		                           draft="#[map-payload:draft]"
		                           fullResponse="#[map-payload:fullResponse]"
		                           entityObject-ref="#[payload]"/>
	</flow>
	<flow name="delete">
		<quickbooks-windows:delete realmId="#[map-payload:realmId]"
		                           appKey="#[map-payload:appKey]"
		                           realmIdPseudonym="#[map-payload:realmIdPseudonym]"
		                           authIdPseudonym="#[map-payload:authIdPseudonym]" 
		                           type="#[map-payload:type]"
		                           entityObject-ref="#[payload]" />
	</flow>
	<flow name="get-object">
		<quickbooks-windows:get-object realmId="#[map-payload:realmId]"
		                           appKey="#[map-payload:appKey]"
		                           realmIdPseudonym="#[map-payload:realmIdPseudonym]"
		                           authIdPseudonym="#[map-payload:authIdPseudonym]" 
		                           type="#[map-payload:type]"
		                           idType-ref="#[payload]" />
	</flow>
	<flow name="find-objects">
		<quickbooks-windows:find-objects realmId="#[map-payload:realmId]"
		                           appKey="#[map-payload:appKey]"
		                           realmIdPseudonym="#[map-payload:realmIdPseudonym]"
		                           authIdPseudonym="#[map-payload:authIdPseudonym]" 
		                           type="#[map-payload:type]">
		    <quickbooks-windows:query ref="#[map-payload:query]"/>
		            
		</quickbooks-windows:find-objects>
	</flow>
	<flow name="generate-a-new-request-id">
		<quickbooks-windows:generate-a-new-request-id />
	</flow>
	<flow name="status">
		<quickbooks-windows:status realmId="#[map-payload:realmId]"
		                                  appKey="#[map-payload:appKey]"
		                                  realmIdPseudonym="#[map-payload:realmIdPseudonym]"
		                                  authIdPseudonym="#[map-payload:authIdPseudonym]">
		    <quickbooks-windows:sync-status-request ref="#[map-payload:syncStatusRequest]"/>
		</quickbooks-windows:status>
    </flow>

    <flow name="sync-activity">
		<quickbooks-windows:sync-activity realmId="#[map-payload:realmId]"
		                                  appKey="#[map-payload:appKey]"
		                                  realmIdPseudonym="#[map-payload:realmIdPseudonym]"
		                                  authIdPseudonym="#[map-payload:authIdPseudonym]">
		    <quickbooks-windows:sync-activity-request ref="#[map-payload:syncActivityRequest]"/>
		</quickbooks-windows:sync-activity>
    </flow>
</mule>
