examples-windows/example-creation-and-retrieve/src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--

    Mule QuickBooks Connector

    Copyright (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com

    The software in this package is published under the terms of the CPAL v1.0
    license, a copy of which has been included with this distribution in the
    LICENSE.txt file.

-->


<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:quickbooks-windows="http://www.mulesoft.org/schema/mule/quickbooks-windows"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.2/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.0/mule-http.xsd
        http://www.mulesoft.org/schema/mule/quickbooks-windows http://www.mulesoft.org/schema/mule/quickbooks-windows/2.0/mule-quickbooks-windows.xsd">
        
    <http:connector name="connector.http.mule.default" enableCookies="true" keepAlive="true"/>
    
    <quickbooks-windows:config />

    <flow name="CreateCustomers">
        <description>Create customers.</description>
        <http:inbound-endpoint host="localhost" port="9095" path="demoCreateCustomers"/>
        
		<quickbooks-windows:generate-a-new-request-id />

		<quickbooks-windows:create realmId="${quickbooksRealmId}"
		                           appKey="${quickbooksAppKey}"
		                           realmIdPseudonym="${quickbooksRealmIdPseudonym}" 
		                           authIdPseudonym="${quickbooksAuthIdPseudonym}"                         
		                           type="CUSTOMER"
		                           requestId="#[payload]"
		                           draft="false"
		                           fullResponse="false">
		    <quickbooks-windows:obj>
		        <typeOf>PERSON</typeOf>
		        <name>James Brownson</name>
 		        <address>#[groovy: [ [
		            'line1' : '5720 Peachtree Pkwy. 1',
		            'line2' : 'Norcross',
		            'city' : 'Mountain View, CA 94043, CA 940',
		            'country' : 'USA',
		            'countrySubDivisionCode' : 'ON',
		            'postalCode' : '94039',
		            'tag' : ['Billing']
		        ] ] ]</address>
		        <DBAName>Mint</DBAName>
		        <acctNum>23423423</acctNum>
		    </quickbooks-windows:obj>
		</quickbooks-windows:create>
		
	    <quickbooks-windows:generate-a-new-request-id />
	    
        <quickbooks-windows:create realmId="${quickbooksRealmId}"
                                   authIdPseudonym="${quickbooksAuthIdPseudonym}" 
                                   realmIdPseudonym="${quickbooksRealmIdPseudonym}" 
                                   appKey="${quickbooksAppKey}"
                                   type="CUSTOMER"
                                   requestId="#[payload]"
                                   draft="false"
                                   fullResponse="false">
            <quickbooks-windows:obj>
                <typeOf>PERSON</typeOf>
                <name>Richard Ted Tex</name>
                <givenName>Richard</givenName>
                <middleName>Ted</middleName>
                <familyName>Tex</familyName>
                <suffix>Jr.</suffix>
                <address>#[groovy: [ [
                    'line1' : '5721 Peachtree Pkwy. 1',
                    'line2' : 'Norcross',
                    'city' : 'Mountain View, CA 94043, CA 940',
                    'country' : 'USA',
                    'countrySubDivisionCode' : 'ON',
                    'postalCode' : '94043',
                    'tag' : ['Billing']
                ] ] ]</address>
                <DBAName>Mint</DBAName>
                <acctNum>23423424</acctNum>
            </quickbooks-windows:obj>
        </quickbooks-windows:create>
        
        <quickbooks-windows:generate-a-new-request-id />
        
        <quickbooks-windows:create realmId="${quickbooksRealmId}"
                                   authIdPseudonym="${quickbooksAuthIdPseudonym}" 
                                   realmIdPseudonym="${quickbooksRealmIdPseudonym}" 
                                   appKey="${quickbooksAppKey}"
                                   type="CUSTOMER"
                                   requestId="#[payload]"
                                   draft="false"
                                   fullResponse="true">
            <quickbooks-windows:obj>
                <typeOf>PERSON</typeOf>
                <name>Lisa Margaret Williams</name>
                <givenName>Lisa</givenName>
                <middleName>Margaret</middleName>
                <familyName>Williams</familyName>
                <suffix>Miss</suffix>
                <address>#[groovy: [ [
                    'line1' : '5722 Peachtree Pkwy. 1',
                    'line2' : 'Norcross',
                    'city' : 'Mountain View, CA 94043, CA 940',
                    'country' : 'USA',
                    'countrySubDivisionCode' : 'ON',
                    'postalCode' : '94043',
                    'tag' : ['Billing']
                ] ] ]</address>
                <DBAName>Mint</DBAName>
                <acctNum>23423425</acctNum>
            </quickbooks-windows:obj>
        </quickbooks-windows:create>
        
        <expression-transformer>
            <return-argument evaluator="string" expression="Every customer was created right!" />
        </expression-transformer>
    </flow>
    
    <flow name="DeleteCustomer">
        <description>Delete an specific customer.</description>
        <http:inbound-endpoint host="localhost" port="9095" path="deleteCustomer"/>
            
        <quickbooks-windows:generate-a-new-request-id />
        
        <quickbooks-windows:delete realmId="${quickbooksRealmId}"
                                   authIdPseudonym="${quickbooksAuthIdPseudonym}" 
                                   realmIdPseudonym="${quickbooksRealmIdPseudonym}" 
                                   appKey="${quickbooksAppKey}"
                                   type="CUSTOMER"
                                   requestId="#[payload]">
            <quickbooks-windows:obj>
                <id>#[groovy: [
                    'value' : message.getInboundProperty('idCustomerValue')
                ]]</id>
            </quickbooks-windows:obj>
                    
        </quickbooks-windows:delete>
        
        <expression-transformer>
            <return-argument evaluator="string" expression="The customer #[header:inbound:idCustomerValue] was deleted!" />
        </expression-transformer>
    </flow>
</mule>