online/src/test/resources/automation-test-flows.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:spring="http://www.springframework.org/schema/beans"
  xmlns:http="http://www.mulesoft.org/schema/mule/http"
  xmlns:quickbooks="http://www.mulesoft.org/schema/mule/quickbooks"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
  xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
        http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/3.1/mule-scripting.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.0/mule-http.xsd
        http://www.mulesoft.org/schema/mule/quickbooks http://www.mulesoft.org/schema/mule/quickbooks/4.0/mule-quickbooks.xsd">

	<context:property-placeholder location="${QUICKBOOKS_ONLINE_CREDENTIALS}"/>

	<quickbooks:config name="quickbooks"
						consumerKey="${quickbooks.online.consumerkey}"
						consumerSecret="${quickbooks.online.consumersecret}"
            			objectStore-ref="_defaultInMemoryObjectStore" />
    
    <flow name="CreateCustomer">
        <quickbooks:create-customer config-ref="quickbooks" accessTokenId="${quickbooks.online.realmid}" />
    </flow>
    
    <flow name="GetCustomer">
        <quickbooks:get-object config-ref="quickbooks" accessTokenId="${quickbooks.online.realmid}" type="#[payload['type']]" id="#[payload['id']]" />
    </flow>
    
    <flow name="UpdateCustomer">
        <quickbooks:update-customer config-ref="quickbooks" accessTokenId="${quickbooks.online.realmid}" />
    </flow>
    
    <flow name="GetCompanyInfo">
        <quickbooks:get-company-info config-ref="quickbooks" accessTokenId="${quickbooks.online.realmid}" />
    </flow>
    
</mule>