online/src/test/resources/mule-config-online.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--

    Mule QuickBooks Connector

    Copyright (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com

    The software in this package is published under the terms of the CPAL v1.0
    license, a copy of which has been included with this distribution in the
    LICENSE.txt file.

-->

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:spring="http://www.springframework.org/schema/beans"
  xmlns:http="http://www.mulesoft.org/schema/mule/http"
  xmlns:quickbooks="http://www.mulesoft.org/schema/mule/quickbooks"
  xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
  xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
        http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/3.1/mule-scripting.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.0/mule-http.xsd
        http://www.mulesoft.org/schema/mule/quickbooks http://www.mulesoft.org/schema/mule/quickbooks/3.0/mule-quickbooks.xsd">
    
    <http:connector name="connector.http.mule.default" enableCookies="true" keepAlive="true"/>
    <spring:beans>
        <spring:bean id="objectStoreRef" class="org.mule.modules.quickbooks.api.oauth.QuickbooksObjectStore" />
    </spring:beans>
    
    <quickbooks:config serviceProviderId="serviceProviderId" consumerKey="consumerKey" consumerSecret="consumerSecret"
            objectStore-ref="objectStoreRef" />
    
    <flow name="TestForTheAccessPower">
        <quickbooks:create-account accessTokenId="id" >
              <quickbooks:account ref="#[payload]"/>
        </quickbooks:create-account>
    </flow>

    <flow name="Create">
        
        <quickbooks:create-account accessTokenId="id" >
        </quickbooks:create-account>
                                   
        <quickbooks:create-bill accessTokenId="id" >
        </quickbooks:create-bill>
                                
        <quickbooks:create-bill-payment accessTokenId="id" >
        </quickbooks:create-bill-payment>
                                        
        <quickbooks:create-cash-purchase accessTokenId="id" >
        </quickbooks:create-cash-purchase>
                                         
        <quickbooks:create-check accessTokenId="id" >
        </quickbooks:create-check>                     
        
        <quickbooks:create-credit-card-charge accessTokenId="id" >
        </quickbooks:create-credit-card-charge>
                                              
        <quickbooks:create-customer accessTokenId="id" >
        </quickbooks:create-customer>
        
        <quickbooks:create-estimate accessTokenId="id" >
        </quickbooks:create-estimate>
                                    
        <quickbooks:create-invoice accessTokenId="id" >
        </quickbooks:create-invoice>
                                   
        <quickbooks:create-item accessTokenId="id" >
        </quickbooks:create-item>
                        
        <quickbooks:create-payment accessTokenId="id" >
        </quickbooks:create-payment>
                                   
        <quickbooks:create-payment-method accessTokenId="id" >
        </quickbooks:create-payment-method>
                                         
        <quickbooks:create-sales-term accessTokenId="id" >
        </quickbooks:create-sales-term>
                                      
        <quickbooks:create-vendor accessTokenId="id" >
        </quickbooks:create-vendor>
                                  
    </flow>
    
    <flow name="GetObject">
        <quickbooks:get-object accessTokenId="id"
                                   type="INVOICE">
        </quickbooks:get-object>
    </flow>
    
    <flow name="Update">
        <quickbooks:update-account accessTokenId="id" >
                           <quickbooks:account ref="#[payload]" />
        </quickbooks:update-account>
                                   
        <quickbooks:update-bill accessTokenId="id" >
        </quickbooks:update-bill>
                                
        <quickbooks:update-bill-payment accessTokenId="id" >
        </quickbooks:update-bill-payment>
                                        
        <quickbooks:update-cash-purchase accessTokenId="id" >
        </quickbooks:update-cash-purchase>
                                         
        <quickbooks:update-check accessTokenId="id" >
        </quickbooks:update-check>                     
        
        <quickbooks:update-credit-card-charge accessTokenId="id" >
        </quickbooks:update-credit-card-charge>
                                              
        <quickbooks:update-customer accessTokenId="id" >
            </quickbooks:update-customer>
        
        <quickbooks:update-estimate accessTokenId="id" >
        </quickbooks:update-estimate>
                                    
        <quickbooks:update-invoice accessTokenId="id" >
        </quickbooks:update-invoice>
                                   
        <quickbooks:update-item accessTokenId="id" >
        </quickbooks:update-item>
                        
        <quickbooks:update-payment accessTokenId="id" >
        </quickbooks:update-payment>
                                   
        <quickbooks:update-payment-method accessTokenId="id" >
        </quickbooks:update-payment-method>
                                          
        <quickbooks:update-sales-receipt accessTokenId="id" >
        </quickbooks:update-sales-receipt>
                                         
        <quickbooks:update-sales-term accessTokenId="id" >
        </quickbooks:update-sales-term>
                                      
        <quickbooks:update-vendor accessTokenId="id" >
        </quickbooks:update-vendor>
    </flow>

    <flow name="DeleteObject">
        <quickbooks:delete-object accessTokenId="id"
                                   type="INVOICE" syncToken="2">
        </quickbooks:delete-object>
    </flow>
    
    <flow name="FindObjects">
        <quickbooks:find-objects accessTokenId="id"
                                   type="ACCOUNT"
                                 queryFilter="#[header:queryFilterString]"
                                 querySort="#[header:querySortString]"/>
    </flow>
</mule>