online/src/test/resources/mule-config-online.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--

    Mule QuickBooks Connector

    Copyright (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com

    The software in this package is published under the terms of the CPAL v1.0
    license, a copy of which has been included with this distribution in the
    LICENSE.txt file.

-->

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:spring="http://www.springframework.org/schema/beans"
  xmlns:http="http://www.mulesoft.org/schema/mule/http"
  xmlns:quickbooks="http://www.mulesoft.org/schema/mule/quickbooks"
  xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
  xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
        http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/3.1/mule-scripting.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.0/mule-http.xsd
        http://www.mulesoft.org/schema/mule/quickbooks http://www.mulesoft.org/schema/mule/quickbooks/3.0/mule-quickbooks.xsd">
    
    <http:connector name="connector.http.mule.default" enableCookies="true" keepAlive="true"/>
    
    <quickbooks:config serviceProviderId="serviceProviderId" />

     <!--<flow name="GetProfileByUrl">
        <http:inbound-endpoint host="localhost" port="9091" path="pointsOfInterest"/>
        <quickbooks:get-object type="INVOICE">
            <quickbooks:id>
                <value>10</value>
            </quickbooks:id>
        </quickbooks:get-object>
    </flow>-->
    
    <flow name="TestForTheAccessPower">
        <quickbooks:create-account realmId="dasda"
                                   appKey="dasdasd"
                                   realmIdPseudonym="dadadada"
                                   authIdPseudonym="dasdasda" >
              <quickbooks:account ref="#[payload]"/>
        </quickbooks:create-account>
    </flow>

    <flow name="Create">
        
        <quickbooks:create-account realmId="dasda"
                                   appKey="dasdasd"
                                   realmIdPseudonym="dadadada"
                                   authIdPseudonym="dasdasda" >                         
        </quickbooks:create-account>
                                   
        <quickbooks:create-bill realmId="dasda"
                                   appKey="dasdasd"
                                   realmIdPseudonym="dadadada"
                                    authIdPseudonym="dasdasda" >
        </quickbooks:create-bill>
                                
        <quickbooks:create-bill-payment realmId="dasda"
                                   appKey="dasdasd"
                                   realmIdPseudonym="dadadada"
                           authIdPseudonym="dasdasda" >
        </quickbooks:create-bill-payment>
                                        
        <quickbooks:create-cash-purchase realmId="dasda"
                                   appKey="dasdasd"
                                   realmIdPseudonym="dadadada"
                           authIdPseudonym="dasdasda" >
        </quickbooks:create-cash-purchase>
                                         
        <quickbooks:create-check realmId="dasda"
                                   appKey="dasdasd"
                                   realmIdPseudonym="dadadada"
                           authIdPseudonym="dasdasda">
        </quickbooks:create-check>                     
        
        <quickbooks:create-credit-card-charge realmId="dasda"
                                    appKey="dasdasd"
                                    realmIdPseudonym="dadadada"
                                    authIdPseudonym="dasdasda">
        </quickbooks:create-credit-card-charge>
                                              
        <quickbooks:create-customer realmId="dasda"
                                   appKey="dasdasd"
                                   realmIdPseudonym="dadadada"
                           authIdPseudonym="dasdasda">
        </quickbooks:create-customer>
        
        <quickbooks:create-estimate realmId="dasda"
                                   appKey="dasdasd"
                                   realmIdPseudonym="dadadada"
                           authIdPseudonym="dasdasda">
        </quickbooks:create-estimate>
                                    
        <quickbooks:create-invoice realmId="dasda"
                                   appKey="dasdasd"
                                   realmIdPseudonym="dadadada"
                           authIdPseudonym="dasdasda">
        </quickbooks:create-invoice>
                                   
        <quickbooks:create-item realmId="dasda"
                                   appKey="dasdasd"
                                   realmIdPseudonym="dadadada"
                           authIdPseudonym="dasdasda">     
        </quickbooks:create-item>
                        
        <quickbooks:create-payment realmId="dasda"
                                   appKey="dasdasd"
                                   realmIdPseudonym="dadadada"
                           authIdPseudonym="dasdasda">
        </quickbooks:create-payment>
                                   
        <quickbooks:create-payment-method realmId="dasda"
                                   appKey="dasdasd"
                                   realmIdPseudonym="dadadada"
                           authIdPseudonym="dasdasda">
        </quickbooks:create-payment-method>
                                         
        <quickbooks:create-sales-term realmId="dasda"
                                    appKey="dasdasd"
                                    realmIdPseudonym="dadadada"
                                    authIdPseudonym="dasdasda">
        </quickbooks:create-sales-term>
                                      
        <quickbooks:create-vendor realmId="dasda"
                                   appKey="dasdasd"
                                   realmIdPseudonym="dadadada"
                           authIdPseudonym="dasdasda">
        </quickbooks:create-vendor>
                                  
    </flow>
    
    <flow name="GetObject">
        <quickbooks:get-object realmId="dasda"
                                   appKey="dasdasd"
                                   realmIdPseudonym="dadadada"
                           authIdPseudonym="dasdasda"
                                   type="INVOICE">
        </quickbooks:get-object>
    </flow>
    
    <flow name="Update">
        <quickbooks:update-account realmId="dasda"
                                   appKey="dasdasd"
                                   realmIdPseudonym="dadadada"
                           authIdPseudonym="dasdasda" >
                           <quickbooks:account ref="#[payload]" />
        </quickbooks:update-account>
                                   
        <quickbooks:update-bill realmId="dasda"
                                   appKey="dasdasd"
                                   realmIdPseudonym="dadadada"
                           authIdPseudonym="dasdasda">
        </quickbooks:update-bill>
                                
        <quickbooks:update-bill-payment realmId="dasda"
                                   appKey="dasdasd"
                                   realmIdPseudonym="dadadada"
	                           authIdPseudonym="dasdasda">
        </quickbooks:update-bill-payment>
                                        
        <quickbooks:update-cash-purchase realmId="dasda"
                                   appKey="dasdasd"
                                   realmIdPseudonym="dadadada"
                           authIdPseudonym="dasdasda">
        </quickbooks:update-cash-purchase>
                                         
        <quickbooks:update-check realmId="dasda"
                                   appKey="dasdasd"
                                   realmIdPseudonym="dadadada"
                           authIdPseudonym="dasdasda">
        </quickbooks:update-check>                     
        
        <quickbooks:update-credit-card-charge realmId="dasda"
                                   appKey="dasdasd"
                                   realmIdPseudonym="dadadada"
                           authIdPseudonym="dasdasda">
        </quickbooks:update-credit-card-charge>
                                              
        <quickbooks:update-customer realmId="dasda"
                                   appKey="dasdasd"
                                   realmIdPseudonym="dadadada"
                           authIdPseudonym="dasdasda">
            </quickbooks:update-customer>
        
        <quickbooks:update-estimate realmId="dasda"
                                   appKey="dasdasd"
                                   realmIdPseudonym="dadadada"
                           authIdPseudonym="dasdasda">
        </quickbooks:update-estimate>
                                    
        <quickbooks:update-invoice realmId="dasda"
                                   appKey="dasdasd"
                                   realmIdPseudonym="dadadada"
                           authIdPseudonym="dasdasda">
        </quickbooks:update-invoice>
                                   
        <quickbooks:update-item realmId="dasda"
                                   appKey="dasdasd"
                                   realmIdPseudonym="dadadada"
                           authIdPseudonym="dasdasda">
        </quickbooks:update-item>
                        
        <quickbooks:update-payment realmId="dasda"
                                   appKey="dasdasd"
                                   realmIdPseudonym="dadadada"
                           authIdPseudonym="dasdasda">
        </quickbooks:update-payment>
                                   
        <quickbooks:update-payment-method realmId="dasda"
                                   appKey="dasdasd"
                                   realmIdPseudonym="dadadada"
                           authIdPseudonym="dasdasda">
        </quickbooks:update-payment-method>
                                          
        <quickbooks:update-sales-receipt realmId="dasda"
                                   appKey="dasdasd"
                                   realmIdPseudonym="dadadada"
                           authIdPseudonym="dasdasda">
        </quickbooks:update-sales-receipt>
                                         
        <quickbooks:update-sales-term realmId="dasda"
                                   appKey="dasdasd"
                                   realmIdPseudonym="dadadada"
                           authIdPseudonym="dasdasda">
        </quickbooks:update-sales-term>
                                      
        <quickbooks:update-vendor realmId="dasda"
                                   appKey="dasdasd"
                                   realmIdPseudonym="dadadada"
                           authIdPseudonym="dasdasda">
        </quickbooks:update-vendor>
    </flow>

    <flow name="DeleteObject">
        <quickbooks:delete-object realmId="dasda"
                                   appKey="dasdasd"
                                   realmIdPseudonym="dadadada"
                           authIdPseudonym="dasdasda"
                                   type="INVOICE" syncToken="2">
        </quickbooks:delete-object>
    </flow>
    
    <flow name="FindObjects">
        <quickbooks:find-objects realmId="dasda"
                                   appKey="dasdasd"
                                   realmIdPseudonym="dadadada"
                           authIdPseudonym="dasdasda"
                                   type="ACCOUNT"
                                 queryFilter="#[header:queryFilterString]"
                                 querySort="#[header:querySortString]"/>
    </flow>
</mule>